h1, h2, h3 {
  color: var(--text-primary);
}

.subtle-text { color: var(--text-subtle); }
.muted-text { color: var(--text-muted); }

/* #region Auth page */
.error-message {
  color: var(--danger);
  font-size: 0.8rem;
  margin: 0 0.2rem;
}

.auth-card {
  background: var(--bg-card);
  border-radius: 5%;
  padding: 1.5rem;
  margin: 20vh auto;
  width: 350px;
}

.auth-card input {
  background-color: var(--bg-input);
  border-radius: 10%;
  border: none;
  padding: 0.5rem 0.5rem;
  border-radius: var(--rounded-lg);
  margin: 0.2rem 0.2rem 0;
  color: var(--text-muted);

  &:focus{
    outline: 2px solid var(--brand-70);
  }
}

.auth-card button {
  background-color: var(--brand-90);
  border: none;
  padding: 0.5rem 0;
  border-radius: var(--rounded-lg);
  margin: 0.2rem;

  &:hover {
    background-color: var(--brand-100);
  }
}

.auth-title {
  font-size: 0.8rem;
  color: var(--text-muted);
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
}

.auth-footer {
  margin-top: 0.2rem;
  font-size: 0.8rem;
  color: var(--text-subtle);
  display: flex;
  justify-content: center;
  gap: 0.1rem;
}

.auth-footer a {
  text-decoration: none;
  color: var(--brand-70);

  &:hover {
    text-decoration: underline;
  }
}

.auth-input {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* #endregion */

/* #region Todos page */
.todo-grid-container {
  display: grid;
  grid-template-areas:
    "title title"
    "todo-list add-todo"
    "todo-list calendar"
    "todo-list progress-tracker";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 2rem;
  padding: 1rem;
  margin: 2rem auto;
  border-radius: var(--rounded-lg);
}

.grid-container h1 {
  grid: title;
}

#todo-list {
  grid-area: todo-list;
  border-radius: var(--rounded-lg);
  background-color: var(--bg-card);
  padding: 0 1rem;
}

.todo-tasks {
  flex: 1;
  margin: 1rem 0;
  position: relative;
  text-align: center;
}

.todo-tasks::after {
  content: "";
  position: absolute;
  left: 0.5rem;
  right: 0.5rem;
  bottom: -0.2rem;
  height: 1px;
  background-color: var(--text-subtle);
}

.todo-item {
  display: flex;
  margin: 1rem 0;
  align-items: center;
}

.todo-item button {
  background-color: transparent;
  border: none;

  &:hover {
    color: var(--danger);
  }
}

.todo-item input[type="checkbox"] {

  &:hover {
    accent-color: var(--brand-90);
  }
}

.completed {
  text-decoration: line-through;
}

#add-todo-form {
  grid-area: add-todo;
  border-radius: var(--rounded-3xl);
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
  padding: 1rem 0;
}

#add-todo-form input {
  padding: 0 0.5rem;
}

.react-calendar {
  grid-area: calendar;
  background-color: var(--bg-card);
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-primary);
  border-radius: var(--rounded-lg);
}

.react-calendar__tile, .react-calendar__navigation button {
  color: var(--text-primary);
  background-color: var(--bg-card);
  border: none;
}

.react-calendar__tile--now {
  background-color: var(--brand-70);
  color: var(--bg-card);
  border-radius: var(--rounded-3xl);
}

#progress-tracker-container {
  grid-area: progress-tracker;
  border-radius: var(--rounded-lg);
  background-color: var(--bg-card);
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.progress-bar {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.progress-bar progress {
  width: 100%;
  height: 3rem;
  display: block;
  accent-color: var(--brand-70);
}

.progress-bar span {
  position: absolute;
  inset: 0;
  text-align: center;
  font-size: 0.85rem;
  font-weight: bold;
  color: var(--text-primary);
  display: grid;
  place-items: center;
}
/* #endregion */