input {
  background: var(--card-bg);
  border: 1px solid var(--primary-button);

  &:hover {
    border: 1px solid var(--primary-button-hover);
  }
}

button {
  background-color: var(--primary-button);

  &:hover {
    background-color: var(--primary-button-hover);
  }
}

.error-message {
  color: var(--danger);
  margin-bottom: 1rem;
}
